#topPanel{
    position: relative;
    display:block;
    border: 1px solid #4b3838;
    width: 68%;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-left: 2%;
    height: auto;
    border-radius: 10px;
    overflow: auto;
    z-index: 499;
}
#panelDescription {
    font-size: small;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 2%;
    font-weight: lighter;
    color: #1283ec;
}
#topPanelHeader{
    display: static;
    border: 1px solid #4b3838;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4px;
    font-size: smaller;
    display: flexbox;
    overflow-x: auto;
    padding-left: 1px;
    border-radius: 11px;
    background-color: #080a09;
    overflow: auto;
}
#topPanelHeaderButton1{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton1:hover{
    opacity: 85%;
}
#topPanelHeaderButton2{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton2:hover{
    opacity: 85%;
}
#topPanelHeaderButton3{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton3:hover{
    opacity: 85%;
}
#topPanelHeaderButton4{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton4:hover{
    opacity: 85%;
}
#topPanelHeaderButton5{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton5:hover{
    opacity: 85%;
}
#topPanelHeaderButton6{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton6:hover{
    opacity: 85%;
}
#topPanelHeaderButton7{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderButton7:hover{
    opacity: 85%;
}
#topPanelHeaderButton8{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#infoDiv{
    display: none;
}
#ownerName{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-left: 2%;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#repoNumber{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#createdAt{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#privateRepos{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#publicRepos{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#updatedAt{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#emailDisplay{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    color: #CCCCCC;
    overflow-wrap: break-word;
    /*white-space: nowrap;*/
}
#allStatsButton{
    display: none;
    text-align: center;
    border: 1px solid #4b3838;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 9px;
    width: 80%;
}
#dropDown{
    text-align: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 0;
    border-top: 1px solid #4b3838;
}
#lineChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #333131;
}
#barChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #333131;
    overflow: auto;
}
#horrizontalChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #333131;
}
#pieCharts{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
    background-color: #333131;
}
#topPanelRepoDropdown{
    display: inline;
    border: 1px solid #7c7676;
    width: 24px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2px;
    transition: transform 1ms ease-in;
    background-color: #080a09;
    border: 1px greenyellow solid;
}
#topPanelHeaderDropdown{
    display: inline;
    border: 1px solid #7c7676;
    width: 24px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2px;
    transition: transform 1ms ease-in;
    background-color: #080a09;
    border: 1px greenyellow solid;
}
.fas{
    color: white;
}