#topPanel{
    position: relative;
    border: 1px solid #4b3838;
    width: 68%;
    margin-top: 6px;
    margin-left: 2%;
    height: 350px;
    border-radius: 10px;
    overflow: auto;
}
#panelDescription {
    font-size: small;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 2%;
    font-weight: lighter;
    color: #1990ff;
}
#topPanelDirectoryHeader{
    display: static;
    border: 1px solid #4b3838;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4px;
    font-size: smaller;
    display: flexbox;
    overflow-x: auto;
    padding-left: 1px;
    border-radius: 11px;
    background-color: #515553;
    overflow: auto;
}
#topPanelHeaderDirButton1{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}

#topPanelHeaderDirButton2{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton3{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton4{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton5{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton6{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton7{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelHeaderDirButton8{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#dirInfoDiv{
    /*display: none;*/
}

#filesNumber{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-left: 14.5%;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#noOfSubdirectories{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}

#createdAt{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
}
#updatedAt{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
}
#language{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#dropDown{
    text-align: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 0;
    border-top: 1px solid #4b3838;
}
#lineChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;    
}
#barChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}
#horrizontalChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}
#pieCharts{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}
#topPanelHeaderDirDropdown{
    display: inline;
    border: 1px solid #7c7676;
    width: 20px;
    height: 24px;
    text-align: center;
    margin-top: 2px;
    margin-left: 3.5%;
    border-radius: 10px;
    padding: 2px;
    transition: transform 1ms ease-in;
}