footer {
    background-color: #333333;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    padding-left: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    z-index: 1001;
}
.footer #homelink{
    position: relative;
    margin-top: 2%;
    color: #CCCCCC;
    text-decoration: none;
}
.footer #footerNote {
    position: relative;
    color: #CCCCCC;
    text-align: center;
}