header{
    top: 0;
    position: fixed;
    background-color: #333333;
    height: 70px;
    width: 100%;
    border-bottom:1px solid #CCCCCC;
    z-index: 1000;
}
#profilePhoto{
    background-image: url("../images/profile.png");
    position: relative;
    background-position: center;
    float: right;
    height: 90%;
    width: 4%;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid;
    animation: colorMixing 15s infinite linear;
}
@keyframes colorMixing {
    0% { border-end-start-radius: orange; }
    25% { border-color: green; }
    40% { border-color: rgb(133, 133, 5); }
    50% { border-color: purple; }
    65% { border-color: blueviolet; }
    75% { border-color: rgba(38, 201, 17, 0.596); }
    100% { border-end-end-radius: brown}
}
#greetings{
    position: relative;
    width: fit-content;
    font-weight: 900;
    font-family: sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: yellowgreen;
    font-size: auto;
    text-shadow: blue;
    animation: animateGreetings 15s infinite linear;
    animation: textScale 15s infinite linear;
}
@keyframes animateGreetings {
    0% { color: #6eb627 ease-in; }
    25% { color:#cfe605; }
    50% { color: #10ee99 ease-out; }
    75% { color: #d69110; }
    100% { color: #6eb627; }    
}
@keyframes textScale {
    0% { transform: scale(1); }
    25% { transform: scale(1.05); }
    50% { transform: scale(1.1); }
    75% { transform: scale(1.05); }
    100% { transform: scale(1) ease-out; }    
}
#greetings:hover{
    transform: scale(1.5);
}
#logo {
    position: relative;
    float: left;
    width: 20%;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header #logo:hover{
    border: 1px dotted;
    border: transparent;
    animation: onLogoHover 1s linear;
}
@keyframes onLogoHover {
    0% { border-top: rgb(4, 238, 4); }
    50% { border-right: rgb(207, 230, 5); }
    75% { border-bottom: rgb(235, 185, 24);}
    100% { border-left: rgb(8, 221, 175); }
}
.header #profilePhoto:hover{
    transform: scale(1.1);
}
