#profileWindow {
    display: none;
    position: relative;
    float: right;
    width: 26%;
    margin-top: -15px;
    margin-right: 1%;
    margin-left: 10px;
    height: auto;
    border-radius: 19px;
    color: #CCCCCC;
    overflow: auto;
    padding: 11px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #333333;
    z-index: 999;
}
::-webkit-scrollbar{
    display: none;
}
#profileNumbers {
    position: relative;
}
#followers{
    padding-top: 50%;
    position: absolute;
    float: right;
    padding-left: 10%;
    padding-right: 60%;
    /*border-bottom: 1px solid rgb(75, 56, 56);*/
}

#followers_number{
    padding-left: 30%;
}
#following{
    padding-top: 50%;
    position: absolute;
    padding-left: 60%;
}
#following_number{
    padding-left: 40px;
}
#profilePhotoPopover{
    background-image: url("../images/profile1.png");
    position: absolute;
    padding: 3px;
    background-position: center;
    height: 115px;
    min-width: 28%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 30%;
    /*padding-bottom: 1px;*/
    border: 3px solid;
    animation: colorMixing 10s infinite linear;
}
@keyframes colorMixing {
    0% { border-end-start-radius: orange; }
    25% { border-color: green; }
    40% { border-color: rgb(133, 133, 5); }
    50% { border-color: purple; }
    65% { border-color: blueviolet; }
    75% { border-color: rgba(38, 201, 17, 0.596); }
    100% { border-end-end-radius: brown}
}

#aboutDiv{
    display: flexbox;
    margin-top: 80%;
    border: 1px solid #4b3838;
    border-radius: 9px;
}

#aboutInfo{
    position: relative;
    margin-top: 2%;
    margin-right: 10px;
    margin-left: 10px;
    display: none;
    padding: 15px;
    border-radius: 9px;
    border: 1px solid #7c7676;
}
#aboutHeader{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 40%;
    padding-right: 40%;
    border-radius: 9px;
    font-size: larger;
    color: white;
    animation: colourMixing 30s infinite linear;
}
@keyframes colourMixing{
    0% { background: #1ffccc; }
    25% { background: #44f044; }
    50% { background: #dff044; }
    75% { background: #c405b4; }
    100% { background: #37dd04; }
}
#aboutHeader:hover{
    opacity: 80%;
    transform: scale(1.05);
}
#otherDetails{
    display: flexbox;
    border: 1px solid #4b3838;
    border-radius: 19px;
    margin-top: 10%;
    margin-left: 5px;
    overflow: auto;
}
#otherInformation{
    display: none;
    border: 1px solid #4b3838;
    border-radius: 19px;
    margin-top: 13%;
    margin-left: 5px;
}
#organization{
    display: flexbox;
    border: 1px solid #4b3838;
    margin: 9px;
    border-radius: 5px;
}
#companyName{
    width:max-content;
    margin-top: 2%;
    padding-right: 25%;
    padding-left: 40%;
    margin-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
}
#companyOrganization{
    display: none;
    border: 1px solid #7c7676;
    text-align: center;
    margin: 5px;
    color: white;
    border-radius: 9px;
}
#portfolio{
    display: flexbox;
    border: 1px solid #4b3838;
    margin: 9px;
    border-radius: 5px;
}
#portfolioInfo{
    width:max-content;
    margin-top: 2%;
    padding-right: 31%;
    padding-left: 40%;
    margin-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
}
#portfolioLink{
    display: none;
    border: 1px solid #7c7676;
    text-align: center;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 9px;
}
#socials{
    display: flexbox;
    border: 1px solid #4b3838;
    margin: 9px;
    border-radius: 5px;
}
#socialmediaInfo{
    width:max-content;
    margin-top: 2%;
    padding-right: 22%;
    padding-left: 40%;
    margin-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
}
#socialmediaLinks{
    display: none;
    border: 1px solid #7c7676;
    text-align: center;
    margin: 5px;
    color: white;
    border-radius: 9px;
}
#personalDetails{
    position: relative;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 37%;
    padding-right: 37%;
    border: 1px solid rgb(44, 230, 44);
    border-radius: 9px;
    animation: colourMixing 20s infinite linear;
}
@keyframes colourMixing{
    0% { background: #1ffccc; }
    25% { background: #44f044; }
    50% { background: #dff044; }
    75% { background: #c405b4; }
    100% { background: #37dd04; }
}
#personalDetails:hover{
    opacity: 85%;
    transform: scale(1.05);
}