#topPanel{
    position: relative;
    border: 1px solid #4b3838;
    width: 68%;
    margin-top: 6px;
    margin-left: 2%;
    height: 350px;
    border-radius: 10px;
    overflow: auto;
}
#panelDescription {
    font-size: small;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 2%;
    font-weight: lighter;
    color: #188efc;
}
#topPanelRepoHeader{
    display: static;
    border: 1px solid #7c7676;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4px;
    font-size: smaller;
    display: flexbox;
    overflow-x: auto;
    padding-left: 1px;
    border-radius: 11px;
    overflow: auto;
    background-color: #251f23;
}
#topPanelRepoButton1{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2%;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}

#topPanelRepoButton2{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton3{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton4{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton5{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton6{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton7{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#topPanelRepoButton8{
    display: inline;
    width: 12%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #4b3838;
    overflow: auto;
}
#repoInfoDiv{
    display: none;
}

#directoryNumber{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin-left: 14%;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#fileNumber{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#visibility{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#createdAt1{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
    text-overflow: ellipsis;
}
#updatedAt1{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#openIssues{
    display: inline-block;
    border: 1px solid #7c7676;
    width: 11.5%;
    height: 3%;
    text-align: center;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;
    color: #CCCCCC;
}
#allStatsButton{
    display: none;
    text-align: center;
    border: 1px solid #4b3838;
    width: 80%;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 9px;
    color: #CCCCCC;
}
#dropDown{
    text-align: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 0;
    border-top: 1px solid #4b3838;
}
#lineChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;    
}
#barChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}
#horrizontalChart{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}
#pieCharts{
    border: 1px solid #4b3838;
    width: 94.5%;
    height: 250px;
    margin-top: 15px;
    margin-left: 3%;
    border-radius: 10px;
}