.overallGithubStats{
    
    border: 1.5px dashed #38d667;
    height: auto;
    margin-top: 4px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    background-color: #161617;
    z-index: 990;
}

.overallRepoStats{
    position: relative;
    border: 1.5px dashed #38d667;
    height: auto;
    padding: 8px;
    margin-top: 4px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    background-color: #161616;
    z-index: 100;
}

.overallDirectoryStats{
    position: relative;
    border: 1.5px dashed #38d667;
    height: 410px;
    margin-top: 4px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    background-color: #161616;
    z-index: 150;
    
}

.overallFileStats{
    position: relative;
    border: 1.5px dashed #38d667;
    height: 410px;
    margin-top: 4px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    background-color: #161616;
    z-index: 998;
}